<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Grp7</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/model">Model</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/info">Info</a>
                    </li>

                </ul>
                <form class="d-flex" role="search">
                    <input id="searchInput" class="form-control me-2" type="search" placeholder="Search"
                        aria-label="Search">
                    <button id="search" class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container my-2">
        <h1>Complementary Approaches for Managing Parkinson's Disease: Yoga, Music, and Therapy!</h1>


        <div class="row justify-content-center">

            <div class="card my-4 mx-2" style="width: 60rem;">
                <h3 class="my-4 mx-2 card-title">Yoga for Parkinson's Disease</h3>
                <img src="https://source.unsplash.com/1600x900/?yoga" class="card-img-top my-2 p4 img-small" alt="...">
                <div class="card-body">
                    <!-- <h5 class="card-title">Yoga for Parkinson's Disease</h5> -->
                    <p class="card-text">Yoga, an ancient practice that combines physical postures, breathing exercises,
                        and meditation, has gained attention as a potential complementary approach for managing
                        Parkinson's disease. Studies have shown that regular yoga practice can help improve flexibility,
                        balance, posture, and motor function in individuals with PD. Additionally, yoga may also
                        contribute to reducing stress, anxiety, and depression, which are often associated with
                        Parkinson's disease. Here are 5 additional points for Yoga

                    <ul>
                        <li>The gentle movements and stretches involved in yoga can help enhance muscle control and
                            coordination, which are often affected by Parkinson's disease.</li>
                        <li>Yoga promotes deep breathing techniques that can improve lung capacity and respiratory
                            function, benefiting individuals with PD who may experience breathing difficulties.</li>
                        <li>Regular yoga practice has been found to promote better sleep patterns and alleviate
                            insomnia, which is a common issue among individuals with Parkinson's disease</li>
                        <li>The mindfulness aspect of yoga encourages individuals to focus on the present moment,
                            promoting mental clarity and emotional well-being.</li>
                        <li>Yoga sessions conducted in a group setting can provide a supportive community and social
                            interaction for individuals living with Parkinson's disease.</li>
                    </ul>
                    </p>
                    <div class="d-flex justify-content-center">
                        <a href="https://www.youtube.com/watch?v=g6ocPtR_uZ8" target="_blank"
                            class="btn btn-primary">Watch Video</a>
                        <a href="https://yogainternational.com/article/view/yoga-therapy-and-parkinsons-disease/"
                            target="_blank" class="btn btn-primary ms-2">Read Articles</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row content justify-content-center">

            <div class="card my-4 mx-2" style="width: 60rem;">
                <h3 class="my-4 mx-2 card-title">Music Therapy for Parkinson's Disease:</h3>
                <img src="https://source.unsplash.com/1600x900/?music&&therapy" class="card-img-top my-2" alt="...">
                <div class="card-body">

                    <p class="card-text">Music therapy involves the use of music and musical elements by trained
                        professionals to address specific therapeutic goals. It has shown promising results in managing
                        various symptoms of Parkinson's disease. Listening to music or engaging in music-based
                        activities can enhance movement, coordination, and speech in individuals with PD. Rhythmic
                        auditory stimulation, a technique used in music therapy, has been found to improve gait and
                        reduce freezing of gait, a common symptom in Parkinson's disease. Here are 5 additional points
                        for Music Therapy

                    <ul>
                        <li>Music therapy sessions can improve mood and emotional well-being by reducing stress,
                            anxiety, and depression, which are common in individuals with Parkinson's disease.</li>
                        <li>Playing musical instruments or singing can strengthen fine motor skills and dexterity,
                            benefiting individuals with PD who experience difficulties in hand movements.</li>
                        <li>Music therapy can enhance social interaction and provide a sense of connection and
                            enjoyment, combating feelings of isolation often experienced by individuals with Parkinson's
                            disease.</li>
                        <li>Rhythmic cues provided by music can help individuals with PD synchronize their movements,
                            leading to improved coordination and balance.</li>
                        <li>Listening to preferred music or songs from the past can evoke memories and emotions,
                            promoting cognitive stimulation and reminiscence in individuals with Parkinson's disease.
                        </li>
                    </ul>
                    </p>
                    <div class="d-flex justify-content-center">
                        <a href="https://www.youtube.com/watch?v=a-5LdT9zHPM" target="_blank"
                            class="btn btn-primary">Watch Video</a>
                        <a href="https://www.apdaparkinson.org/article/music-therapy-parkinsons-disease/"
                            target="_blank" class="btn btn-primary ms-2">Read Articles</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row content justify-content-center">

            <div class="card my-4 mx-2" style="width: 60rem;">
                <h3 class="my-4 mx-2 card-title">Occupational and Physical Therapy:</h3>
                <img src="https://source.unsplash.com/1600x900/?Occupational" class="card-img-top my-2" alt="...">
                <div class="card-body">
                    <!-- <h5 class="card-title">Yoga for Parkinson's Disease</h5> -->
                    <p class="card-text">Occupational therapy (OT) and physical therapy (PT) play crucial roles in the
                        management of Parkinson's disease. These therapies focus on improving mobility, strength,
                        balance, and overall functional abilities. Occupational therapists help individuals with PD
                        adapt to daily activities, while physical therapists design exercise programs tailored to
                        address specific motor symptoms and improve overall physical well-being. These therapies can
                        help maintain independence and enhance the overall quality of life for individuals with
                        Parkinson's disease. Here are 5 additional points for the Occupational and Physical Therapy:

                    <ul>
                        <li>Occupational therapy helps individuals with Parkinson's disease develop strategies and
                            techniques to overcome challenges in activities of daily living, such as dressing, grooming,
                            and meal preparation.</li>
                        <li>Physical therapy aims to improve gait and mobility in individuals with Parkinson's disease
                            through exercises and techniques targeting balance, coordination, and muscle strength.</li>
                        <li>Occupational therapists may recommend adaptive equipment or assistive devices to enhance
                            independence and safety during daily activities for individuals with PD.</li>
                        <li>Physical therapists can provide guidance on proper body mechanics and postural alignment to
                            minimize the risk of falls and maintain optimal alignment for individuals with Parkinson's
                            disease.</li>
                        <li>Both occupational therapy and physical therapy can contribute to the management of pain and
                            discomfort associated with Parkinson's disease by addressing musculoskeletal issues and
                            promoting optimal movement patterns.</li>
                    </ul>
                    </p>

                    <div class="d-flex justify-content-center">
                        <a href="https://www.youtube.com/watch?v=h-6ffWGbWOo" target="_blank"
                            class="btn btn-primary">Watch Video</a>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/28007002/" class="btn btn-primary ms-2"
                            target="_blank">Read
                            Articles</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row content justify-content-center">

            <div class="card my-4 mx-2" style="width: 60rem;">
                <h3 class="my-4 mx-2 card-title">Speech and Swallowing Therapy:</h3>
                <img src="https://source.unsplash.com/1600x900/?therapy" class="card-img-top my-2" alt="...">
                <div class="card-body">
                    <p class="card-text">Speech and swallowing difficulties are common in Parkinson's disease. Speech
                        therapy, also known as speech-language pathology, can help individuals with PD improve speech
                        clarity, volume, and articulation. Swallowing therapy, known as dysphagia therapy, focuses on
                        strengthening the muscles involved in swallowing and addressing swallowing difficulties. These
                        therapies aim to enhance communication and ensure proper nutrition and hydration for individuals
                        with Parkinson's disease.
                    <ul>
                        <li>Speech therapy sessions may include exercises to improve breath control, vocal strength, and
                            coordination of speech muscles, enabling clearer and more intelligible speech for
                            individuals with PD.</li>
                        <li>Swallowing therapy techniques involve exercises and strategies to improve swallowing
                            function, reduce the risk of aspiration, and ensure safe and efficient swallowing.</li>
                        <li>Speech-language pathologists may use communication strategies and techniques to compensate
                            for speech difficulties, such as using visual cues or augmentative and alternative
                            communication (AAC) devices.</li>
                        <li>Swallowing therapy may include texture modification of food and liquids to accommodate
                            swallowing difficulties and prevent choking or aspiration.</li>
                        <li>Speech and swallowing therapy can help individuals with Parkinson's disease maintain oral
                            health, prevent weight loss, and ensure adequate nutrition and hydration.</li>
                    </ul>
                    </p>

                    <div class="d-flex justify-content-center">

                        <a href="https://www.youtube.com/watch?v=34TGYdhKYdQ" target="_blank"
                            class="btn btn-primary">Watch Video</a>
                        <a href="https://www.youtube.com/watch?v=34TGYdhKYdQ" class="btn btn-primary ms-2"
                            target="_blank">Read Articles</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row content justify-content-center">

            <div class="card my-4 mx-2" style="width: 60rem;">
                <h3 class="my-4 mx-2 card-title">Mindfulness and Meditation:</h3>
                <img src="https://source.unsplash.com/1600x900/?meditation" class="card-img-top my-2" alt="...">
                <div class="card-body">
                    <!-- <h5 class="card-title">Yoga for Parkinson's Disease</h5> -->
                    <p class="card-text">Practices such as mindfulness and meditation can offer numerous benefits to
                        individuals with Parkinson's disease. These practices promote relaxation, reduce stress, and
                        improve emotional well-being. Mindfulness-based stress reduction techniques have shown potential
                        in managing non-motor symptoms, such as anxiety and depression, commonly associated with
                        Parkinson's disease. Incorporating mindfulness and meditation into daily routines can contribute
                        to a more balanced and positive outlook on life despite the challenges posed by PD.
                    <ul>
                        <li>Mindfulness exercises involve focusing attention on the present moment, cultivating
                            awareness of sensations, thoughts, and emotions without judgment.</li>
                        <li>Regular mindfulness and meditation practice can help individuals with PD reduce stress and
                            anxiety levels, leading to improved overall well-being.</li>
                        <li>Mindfulness-based stress reduction techniques, such as deep breathing exercises and body
                            scans, can help manage physical and emotional symptoms associated with Parkinson's disease.
                        </li>
                        <li>Meditation practices, such as loving-kindness meditation, can enhance feelings of
                            compassion, gratitude, and self-acceptance, fostering a positive mindset.</li>
                        <li>Mindfulness and meditation can complement other treatment approaches by promoting
                            relaxation, improving sleep quality, and enhancing the overall quality of life for
                            individuals with Parkinson's disease.</li>
                    </ul>
                    </p>
                    <div class="d-flex justify-content-center">

                        <a href="https://www.youtube.com/watch?v=mwKn-9lCRno" class="btn btn-primary"
                            target="_blank">Watch Video</a>
                        <a href="https://www.youtube.com/watch?v=mwKn-9lCRno" class="btn btn-primary ms-2"
                            target="_blank">Read Articles</a>
                    </div>
                </div>
            </div>
        </div>




        <div class="d-flex justify-content-around">
            <button class="btn-primary btn" id="prev">&lt; Previous Page</button>
            <button class="btn-primary btn" id="next">Next Page &gt;</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>